<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      pre {
        border: 1px solid black;
        background-color: #292828;
        padding: 10px;
        overflow-x: auto;
        border-radius: 10px;
        color: rgb(138, 165, 221);
        letter-spacing: 2px;
        font-size: 12px;
        line-height: 20px;
      }
      button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #77ad79;
      }
      li{
        color: white;
        letter-spacing: 3px;
      }
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        color: blue;
        font-weight: bold;
      }
      h2{
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        letter-spacing: 2px;
      }
      h3{
        padding: 15px;
        color: rgba(255, 255, 255, 0.644);
      }
      code{
        padding: 1%;
        letter-spacing: 2px;
        font-style: normal;
      }
    </style>
    <script>
      function copiarCodigo() {
        var codigo = document.querySelector("pre code");
        var seleccion = window.getSelection();
        var rango = document.createRange();
        rango.selectNodeContents(codigo);
        seleccion.removeAllRanges();
        seleccion.addRange(rango);
        document.execCommand("copy");
        seleccion.removeAllRanges();
      }
    </script>
    <title>Documentation</title>
  </head>
  <body>
