<div
style=
"width: 35%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.877);"
>
<ul style="
padding: 5%;
margin: 4%;
width: 90%;
height: 94%;
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-around;">
<h2 style="color: white;
letter-spacing: 3px;
border-bottom: 1px solid white ;
 padding-bottom: 15px ;">Documentacion de la API</h2>
<li><a href="#introduction">Introducción</a></li>

<li><a href="#bibliotecas">Bibliotecas</a></li>

<li><a href="#instalacion">Instalación</a></li>
<li><a href="#entorno">Variables de entorno</a></li>
<li><a href="#folder">Estructura de carpetas</a></li>
<li><a href="#jerarquia">Jerarquía</a></li>
<li>
  <a href="#mongo">Configuración para la conexión a mongo atlas</a>
</li>
<li><a href="#mainconection">Archivo principal de la conexión</a></li>
<li><a href="#router">Rutas y Controladores</a></li>
<li><a href="#bd">Modelo de la base de datos</a></li>
<li><a href="#middleware">middleware</a></li>
<li><a href="#encriptar">Función para encriptar contraseña</a></li>
<li><a href="#tokens">Función para generar tokens</a></li>
<li><a href="#correos">Función para enviar correos</a></li>
</ul>
</div>
