<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
  <img src="../public/fondo.png" class="img-fluid" alt="fondo">
  <div class="mx-auto " style="width: 500px; ">
  <div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary" style="width: 500px;">

  <h1>Reestablecer contrase単a</h1>

  <div class="mx-auto" style="width: 200px; ">
  <form action="/recovery/reset/%= url %>" method="POST">
    <label for="pass" class="form-label">Nueva Contrase単a:</label>
    <input id="pass" name="pass" class="form-control" id="exampleFormControlInput1" placeholder="Contrase単a" required>

    <button type="submit"  class=" btn btn-outline-secondary shadow p-2 mb-3 rounded"  >Actualizar Contrase単a</button>
  </div>
</div>
</div>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</body>
</html>
