<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap') ;

    *{
      font-family: 'Poppins', sans-serif;
    }
    button:hover{
      background-color: #fd5e53;
    }
  </style>
  <title>Recuperar contraseña</title>
</head>
<<<<<<< HEAD
<body style="background-color: #EDF5FC;
display: flex;
justify-content: center;">
=======
<body>
  <style>
body {

background-color: #EDF5FC;
}
html, body{

  margin: 0;
 }
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

  </style>
  <!-- <img src="../public/fondo.png" class="img-fluid" alt="fondo"> -->
  <div class="container1" >
  <div class=" p-3 mb-2 bg-light-subtle text-emphasis-primary " style="width: 500px;">
>>>>>>> f9dfd934dfaf864855b5066cf8428254ed5d8d87

  <div style="
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  ">
  <h1>Reestablecer contraseña</h1>
  <form action="/recovery/reset/<%=url%>" method="POST" style=
    "flex-direction: column; ">
    <div>
    <label for="pass" >Nueva Contraseña:</label>
    <input id="pass" name="pass" placeholder="Contraseña" required style="border-radius: 10px; padding: 10px;">
  </div>
    <button type="submit" style=
    "width: 100%;
    cursor: pointer;
     margin-top: 10px;
     border-radius: 30px;
     padding: 10px;
     background-color: #F9AF28;">Actualizar Contraseña</button>
  </div>
</form>
</body>
</html>
