<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
body {

background-color: #EDF5FC;
}
html, body{

  margin: 0;
 }
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

  </style>
  <!-- <img src="../public/fondo.png" class="img-fluid" alt="fondo"> -->
  <div class="container1" >
  <div class=" p-3 mb-2 bg-light-subtle text-emphasis-primary " style="width: 500px;">

  <h1>Reestablecer contrase単a</h1>

  <div>
  <form action="/recovery/reset/<%=url%>" method="POST">
    <label for="pass" >Nueva Contrase単a:</label>
    <input id="pass" name="pass" placeholder="Contrase単a" required>

    <button type="submit">Actualizar Contrase単a</button>
  </div>

</body>
</html>
