<section id="introduction">
  <h2>Introducción</h2>
  <p>
    El propósito de este documento es brindar una guía para instalar y
    configura la api rest en un entorno de desarrollo local.<br /><br />
    Se presenta información detallada acerca de la estructura del
    sistema, con el fin de llevar a cabo tareas como mantenimiento,
    instalación y exploración del API REST para el aplicativo web Red
    JODS Aliados, ofreciendo la información de cómo está organizado para
    que los desarrolladores que deseen contribuir al proyecto lo hagan
    de manera adecuada.<br /><br />
    El objetivo principal del proyecto es crear una plataforma web en la
    que los miembros de la organización faciliten la gestión y
    seguimiento de los Aliados, incluyendo información de contacto y
    actividades realizadas.<br /><br />
    <strong
      >En esta documentación mostraremos toda la explicación para el uso
      de la API REST del aplicativo web, siéntase libre luego de clonar
      el repositorio de editar este documento para agregar explicación
      de nuevas funcionalidades</strong
    >
  </p>
</section>
