<section id="entorno" style="border-top: 1px solid gray">
  <h2>Variables de entorno</h2>
  <p>
    Crea en la carpeta raiz un archivo .env para cargar todas las
    variables protegidas de la api en la carpeta que clonaste
    encontraras un archivo .env.example que contiene un ejemplo de todas
    las variables de entorno utilizadas en el aplicativo <br />Aca un
    ejemplo de lo que deberia ir en cada variable
  </p>
  <pre><code>
DB_URI=//enlace a la conexion de mongo
PORT=//puerto usado para pruebas el 3000
JWT_SECRET=//codigo secreto para generar los tokens
COREO_TEST=//correo de donde se enviaran todos los correos del aplicativo
PASS_CORREO=//credenciales si utilizas gmail se obtiene mediante permisos para app de terceros
  </code></pre>
</section>
