<section id="folder" style="border-top: 1px solid gray">
  <h2>Estructura de carpetas</h2>
  <p>
    Al clonar el repositorio encuentras una carpeta llamada Back que
    contiene todo la api res <br />luego dos archivos
    <strong> .editorconfig </strong>es la Configuración del visual para
    el codigo y <strong> .gitignore </strong>para ignorar subida a git
    de la carpeta que contiene las dependencias <br />Dentro de Back se
    organiza de la siguiente manera:
  </p>
  <ul>
    <li>
      App:
      <ul>
        <li>Controllers: contiene los controladores de los endpoint</li>
        <li>
          helpers: contiene funciones que ayudan con funcionalidades de
          la api
        </li>
        <li>
          middleware: contiene la verificacion de rutas mediante los
          tokens
        </li>
        <li>routes: contiene la routas de la api rest</li>
        <li>
          template: contiene los modelos html para los correos enviados
          por la api
        </li>
      </ul>
    </li>
    <li>
      config: contiene la configuración para la conexion con mongo atlas
    </li>
    <li>
      public: contiene los documentos html de uso publico en la api
    </li>
  </ul>
</section>
