<section id="bibliotecas" style="border-top: 1px solid gray">
  <h2>Bibliotecas</h2>
  <h3>Express</h3>
  <p>
    Express es una librería de Node.js Proporciona los métodos y
    herramientas para manejar solicitudes HTTP, gestionar rutas,
    realizar operaciones CRUD en bases de datos y trabajar con
    diferentes tipos de middleware
  </p>
  <pre><code>npm install express</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>

  <h3>Dotenv</h3>
  <p>
    Dotenv sirve para cargar las variables de entorno de la carpeta raiz
  </p>
  <pre><code>npm install dotenv</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>

  <h3>Cors</h3>
  <p>
    Es una librería de Node.js que se utiliza para configurar
    encabezados CORS en una aplicación web o API
  </p>
  <pre><code>npm install cors</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>

  <h3>Mongoose</h3>
  <p>
    Mongoose es una biblioteca de modelado de objetos MongoDB para
    Node.js que simplifica la interacción con una base de datos MongoDB
    a través de una API
  </p>
  <pre><code>npm install mongoose</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>

  <h3>Bcryptjs</h3>
  <p>
    Bcrypt.js es una biblioteca de Node.js que se utiliza para cifrar
    contraseñas y datos sensibles mediante el algoritmo de hashing
    bcrypt.
  </p>
  <pre><code>npm install bcryptjs</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>

  <h3>jsonwebtoken</h3>
  <p>
    Se utiliza para la creacion de tokens de accesos de usuarios a la
    api rest
  </p>
  <pre><code>npm install jsonwebtoken</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>
</section>
