<section id="instalacion" style="border-top: 1px solid gray">
  <h2>Instalacion</h2>
  <p>
    Se recomienda utilizar nodemon, utiliza el siguiente comando para
    instalarlo como dependencia de desarrollo
  </p>
  <pre><code>npm install nodemon --save-dev</code></pre>
  <button onclick="copiarCodigo()">Copiar</button>
  <p>Luego de clonar el repositorio desde el directorio</p>
  <pre><code>git clone  https://github.com/programateacademy/red-jods-aliados-backend.git </code></pre>
  <button onclick="copiarCodigo()">Copiar</button>
  <p>En el directorio que acabas de instalar ejecuta</p>
  <pre><code>cd Back//mueve a la carpeta principal
npm install //instala todas las dependencias </code></pre>
  <button onclick="copiarCodigo()">Copiar</button>
  <p>luego ya puedes correr el codigo</p>
  <pre><code>nodemon app //si instalaste nodemon
node app// sin nodemon
  </code></pre>
  <button onclick="copiarCodigo()">Copiar</button>
  <p>
    En consola debe salirte algo asi, donde se muestren todas las rutas
    de la api
  </p>
  <pre><code>[nodemon] starting `node app`
cargar ruta----------> auth
cargar ruta----------> doc
cargar ruta----------> nameroute
cargar ruta----------> recoverytoken
cargar ruta----------> userroute
api lista por el puerto 3000
***CONEXION CORRECTA***</code></pre>
</section>
