<section id="folder" style="border-top: 1px solid gray;
color: white;
padding: 5%;">  <h2>Estructura de carpetas</h2>
  <p style="padding: 2%;  line-height: 30px;">
    Al clonar el repositorio encuentras una carpeta llamada Back que
    contiene todo la api res <br />luego dos archivos
    <strong> .editorconfig </strong>es la Configuración del visual para
    el codigo y <strong> .gitignore </strong>para ignorar subida a git
    de la carpeta que contiene las dependencias <br />Dentro de Back se
    organiza de la siguiente manera:
  </p>
  <ul style="padding: 5%;">
    <li style="color: red; font-weight: bold;">
      App:
      <ul style="padding: 1%";>
        <li style="margin: 1%;"><strong style="color: yellow;">Controllers:</strong> contiene los controladores de los endpoint</li>
        <li style="margin: 1%;">
          <strong style="color: yellow;">Helpers:</strong> contiene funciones que ayudan con funcionalidades de
          la api
        </li>
        <li style="margin: 1%;">
          <strong style="color: yellow;">middleware:</strong> contiene la verificacion de rutas mediante los
          tokens, el cache y la autentificacion de roles de usuario
        </li>
        <li style="margin: 1%;">
          <strong style="color: yellow;">Routes:</strong>
          contiene la routas de la api rest</li>
        <li style="margin: 1%;">
          <strong style="color: yellow;">Template:</strong>
          contiene los modelos html para los correos enviados
          por la api
        </li>
      </ul>
    </li>
    <li style="margin-top: 1%;">
      <strong style="color: blue;">Config:</strong>
       contiene la configuración para la conexion con mongo atlas
    </li>
    <li style="margin-top: 1%;">
      <strong style="color: blue;">Public:</strong>
       contiene los documentos html de uso publico en la api
    </li>
  </ul>
</section>
