<section id="middleware" style="border-top: 1px solid gray; color: white;
padding: 5%;">
  <h3>Middlewares</h3>
  <p style="padding: 2%;  line-height: 30px;">
    La api tiene 4 middleware que cumplen con funcionalidades diferentes:<br>
    <br><strong>auth:</strong>Este middleware funciona para la utentificacion del token de recuperacion de contraseña.<br>
    <br><strong>authToken:</strong>Su finalidad es que al usuario intentar ingresar a cualquier ruta verifique si este posee un token de sesion y le permita el acceso al sistema.<br>
    <br><strong>roleAuth:</strong> Su funcion es verificar el rol que posee el usuario en la base de datos<br>
    <br><strong>Cache:</strong>Este implementa el uso de cache para hacer un poco mas rapido la respuesta del backend se explicara mas a detalle en su seccion. <a href="#cache" style="color: rgb(255, 0, 0);">Leer mas</a>
</p>
  </section>
