<section id="jerarquia" style="border-top: 1px solid gray; color: white;
padding: 5%;">  <h2>Jerarquia</h2>
  <p style="padding: 2%;  line-height: 30px;">
La jerarquia del sistema fue creada en base a los requimientos tecnicos para el proyecto, la logica funciona de la siguiente manera: <br>
<br>Rol admin: este tipo de usuarios posee todos los permisos de la aplicacion y es el unico que se le permite manejar a los demas usuarios que se registren. <br>
<br>Rol user: este usuario igual puede acceder a todas las funciones del aplicativo con la excepcion de que no podra modificar a los usuarios registrados en el sistema. <br>
</p>
</section>
