<section id="instalacion" style="border-top: 1px solid gray;
color: white;
padding: 5%;">
  <h2>Instalacion</h2>
  <p style="padding: 2%;  line-height: 30px;">
    Clonar el repositorio desde el directorio</p>
  <pre><code style="letter-spacing: 1px; color: orange;"
    >git clone  https://github.com/programateacademy/red-jods-aliados-backend.git </code></pre>

  <p style="padding: 2%;  line-height: 30px;">
    Se recomienda utilizar nodemon, utiliza el siguiente comando para
    instalarlo como dependencia de desarrollo
  </p>
  <pre><code>npm install nodemon --save-dev</code></pre>

  <p style="padding: 2%;  line-height: 30px;">
    En el directorio que acabas de instalar ejecuta</p>
  <pre><code>cd Back <strong style="font-weight: normal; color: green;">//mueve a la carpeta principal</strong> </code></pre>
  <pre><code>npm install <strong style="font-weight: normal; color: green;">//instala todas las dependencias</strong> </code></pre>

  <p style="padding: 2%;  line-height: 30px;">luego ya puedes correr el codigo</p>
  <pre><code style="color: green;">
nodemon app //si instalaste nodemon
node app// sin nodemon
  </code></pre>
  <p style="padding: 2%;  line-height: 30px;">
    En consola debe salirte algo asi, donde se muestren todas las rutas
    de la api
  </p>
  <pre><code style="color: white;">
<strong style="color: green;">[nodemon] starting `node app`</strong>
cargar ruta----------> auth
cargar ruta----------> doc
cargar ruta----------> nameroute
cargar ruta----------> recoverytoken
cargar ruta----------> userroute
api lista por el puerto 3000
***CONEXION CORRECTA***</code></pre>
</section>
